/* ----- Global Styling, Colors, Display ----- */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Overpass Mono', sans-serif;
  font-weight: 300;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
  list-style-position: inside;
}

.main {
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  width: 95%;
}

/* ----- Colors ----- */
.red {
  color: #EF4343;
}

.red-hover:hover {
  background-color: #EF4343;
  color: white;
}

.red-bg {
  background-color: #EF4343;
  color: white;
}

.green {
  color: #43BA87;
}

.green-hover:hover {
  background-color: #43ba87;
  color: white;
}

.green-bg {
  background-color: #43ba87;
  color: white;
}

.orange {
  color: #E9AC54;
}

.orange-hover:hover {
  background-color: #E9AC54;
  color: white;
}

.orange-bg {
  background-color: #E9AC54;
  color: white;
}

.purple {
  color: #80489C;
}

.purple-hover:hover {
  background-color: #80489C;
  color: white;
}

.purple-hover:active {
  background-color: #80489C;
  color: white;
}

.purple-bg {
  background-color: #80489C;
  color: white;
}

.blue {
  color: #2966B1;
}

.blue-hover:hover {
  background-color: #2966B1;
  color: white;
}

.blue-bg {
  background-color: #2966B1;
  color: white;
}

.grey {
  color: #CCCCCB;
}

.grey-hover:hover {
  background-color: #CCCCCB;
  color: white;
}

.grey-bg {
  background-color: #CCCCCB;
  color: white;
}

/* ----- Navigation ----- */

.nav {
  height: 70px;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 1;
  padding: 5px 10px;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
  position: fixed;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  display: flex;
  border-radius: 100%;
  max-width: 60px;
}

.mobile-nav {
  display: none;
  flex-direction: column;
}

.mobile-nav a {
  padding: 6px 8px;
  text-decoration: none;
  border-radius: 2px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.toggle-menu {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
}

.desktop-menu {
  display: none;
}

.mobile-nav-trigger {
  font-family: 'Overpass', sans-serif;
  font-size: 1rem;
  color: black;
  background-color: white;
  border-radius: 2px;
  border-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

.mobile-nav-trigger:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .35);
}

.mobile-nav-trigger:active {
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.mobile-nav-trigger:focus {
  outline-style: none;
  outline-color: white;
}

/* ----- Buttons ----- */

button {
  font-family: 'Overpass Mono', sans-serif;
  font-size: 1.2rem;
  background: none;
  border: 0;
  box-sizing: border-box;
  padding: 5px 10px;
  position: relative;
  vertical-align: middle;
}

button::before, button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

button:focus {
    outline: none;
}

.project-btn {
  transition: color 0.25s;
}

.project-btn::before, .project-btn::after {
  border: 2px solid transparent;
  border-radius: 2px;
  width: 0;
  height: 0;
}

.project-btn::before {
  top: 0;
  left: 0;
}

.project-btn::after {
  bottom: 0;
  right: 0;
}

.project-btn:hover {
  color: #80489C;
}

.project-btn:hover::before, .project-btn:hover::after {
  width: 100%;
  height: 100%;
}

.project-btn:hover::before {
  border-top-color: #80489C;
  border-right-color: #80489C;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.project-btn:hover::after {
  border-bottom-color: #80489C;
  border-left-color: #80489C;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.skill-btn {
  transition: color 0.25s;
}

.skill-btn::before, .skill-btn::after {
  border: 2px solid transparent;
  border-radius: 2px;
  width: 0;
  height: 0;
}

.skill-btn::before {
  top: 0;
  left: 0;
}

.skill-btn::after {
  bottom: 0;
  right: 0;
}

.skill-btn:hover {
  color: #43ba87;
}

.skill-btn:hover::before, .skill-btn:hover::after {
  width: 100%;
  height: 100%;
}

.skill-btn:hover::before {
  border-top-color: #43ba87;
  border-right-color: #43ba87;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.skill-btn:hover::after {
  border-bottom-color: #43ba87;
  border-left-color: #43ba87;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.work-btn {
  transition: color 0.25s;
}

.work-btn::before, .work-btn::after {
  border: 2px solid transparent;
  border-radius: 2px;
  width: 0;
  height: 0;
}

.work-btn::before {
  top: 0;
  left: 0;
}

.work-btn::after {
  bottom: 0;
  right: 0;
}

.work-btn:hover {
  color: #CCCCCB;
}

.work-btn:hover::before, .work-btn:hover::after {
  width: 100%;
  height: 100%;
}

.work-btn:hover::before {
  border-top-color: #CCCCCB;
  border-right-color: #CCCCCB;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.work-btn:hover::after {
  border-bottom-color: #CCCCCB;
  border-left-color: #CCCCCB;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.education-btn {
  transition: color 0.25s;
}

.education-btn::before, .education-btn::after {
  border: 2px solid transparent;
  border-radius: 2px;
  width: 0;
  height: 0;
}

.education-btn::before {
  top: 0;
  left: 0;
}

.education-btn::after {
  bottom: 0;
  right: 0;
}

.education-btn:hover {
  color: #2966B1;
}

.education-btn:hover::before, .education-btn:hover::after {
  width: 100%;
  height: 100%;
}

.education-btn:hover::before {
  border-top-color: #2966B1;
  border-right-color: #2966B1;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.education-btn:hover::after {
  border-bottom-color: #2966B1;
  border-left-color: #2966B1;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.personal-btn {
  transition: color 0.25s;
}

.personal-btn::before, .personal-btn::after {
  border: 2px solid transparent;
  border-radius: 2px;
  width: 0;
  height: 0;
}

.personal-btn::before {
  top: 0;
  left: 0;
}

.personal-btn::after {
  bottom: 0;
  right: 0;
}

.personal-btn:hover {
  color: #E9AC54;
}

.personal-btn:hover::before, .personal-btn:hover::after {
  width: 100%;
  height: 100%;
}

.personal-btn:hover::before {
  border-top-color: #E9AC54;
  border-right-color: #E9AC54;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.personal-btn:hover::after {
  border-bottom-color: #E9AC54;
  border-left-color: #E9AC54;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.contact-btn {
  transition: color 0.25s;
}

.contact-btn::before, .contact-btn::after {
  border: 2px solid transparent;
  border-radius: 2px;
  width: 0;
  height: 0;
}

.contact-btn::before {
  top: 0;
  left: 0;
}

.contact-btn::after {
  bottom: 0;
  right: 0;
}

.contact-btn:hover {
  color: #EF4343;
}

.contact-btn:hover::before, .contact-btn:hover::after {
  width: 100%;
  height: 100%;
}

.contact-btn:hover::before {
  border-top-color: #EF4343;
  border-right-color: #EF4343;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.contact-btn:hover::after {
  border-bottom-color: #EF4343;
  border-left-color: #EF4343;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.black-btn {
  transition: color 0.25s;
}

.black-btn::before, .black-btn::after {
  border: 2px solid transparent;
  border-radius: 2px;
  width: 0;
  height: 0;
}

.black-btn::before {
  top: 0;
  left: 0;
}

.black-btn::after {
  bottom: 0;
  right: 0;
}

.black-btn:hover {
  color: #000;
}

.black-btn:hover::before, .black-btn:hover::after {
  width: 100%;
  height: 100%;
}

.black-btn:hover::before {
  border-top-color: #000;
  border-right-color: #000;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.black-btn:hover::after {
  border-bottom-color: #000;
  border-left-color: #000;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

/* ----- Body Styles ----- */

.project-container {
  width: 100vw;
  height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
}

.text-container {
  max-width: 600px;
  align-self: center
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-right: 2rem;
  flex-basis: 500px;
}

.next {}

.previous {
  align-self: flex-end;
}

.skill-box {
  display: block;
  text-align: center;
}

.skill-dot::before {
  content: "";
  display: inline-block;
  padding: 3px;
  width: 5px;
  height: 5px;
  background-color: #404040;
  border-radius: 50px;
}

/* =================================
  Media Queries
==================================== */
@media (min-width: 768px) {
  .nav {
    height: 100%;
    width: 20vw;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav a {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    border-radius: 2px;
    margin-bottom: 5px;
  }

  .nav-title {
    font-size: 1.2rem;
  }

  .nav a:hover {}

  .desktop-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .main {
    background-color: #fff;
    color: #444;
    padding-top: 0px;
    margin-left: 22vw;
    max-width: 74vw;
  }

  .project-container {
    display: grid;
    grid-template-columns: 25vw 50vw;
    grid-gap: 10px;
  }

  .logo-img {
    max-width: 120px;
  }

  .mobile-nav, .mobile-nav-trigger, .toggle-menu {
    display: none;
  }
}
