/* ----Font Import and Global Styling---- */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,700i');

* {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', Helvetica, sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-top: 0;
  margin-bottom: -10px;
}

li {
  list-style: none;
  list-style-position: inside;
}

.btn {
  display: inline-block;
  background-color: white;
  border-radius: 50px;
  border-color: transparent;
  min-width: 100px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.btn:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

/* ----Colors---- */



/* ----Layout and Clearfix---- */
.container {
  padding-left: 1em;
  padding-right: 1em;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* ----Body Styles---- */



/* ----Footer---- */

.footer {
  position: relative;
  height: 60px;
}

.copyright {
  text-align: right;
}

.newsletter {

}

/* =================================
  Media Queries
==================================== */
@media (min-width: 789px) {
  .container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
